{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>glass-logout-form</title>
    <link rel="stylesheet" href="{% static 'css/logout-glass.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">


</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container">
                <div class="form">
                    <h2>Logout Form</h2>
                    <form>
                        <p class="forget">If you really want logout,<br>
                            Please push this LogOut button.</p>
                        <p class="forget">If you don't want logout,<br>
                            Please push this link to back to the home<a href="/"> Click Here</a></p>



                        <form method="post" class="form-auth">
                            {% csrf_token %}
                            <div class="inputBox">
                                <input type="submit" value="LogOut">
                                <button class="btn btn-warning" type="submit">LOGOUT</button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>